 
 body{

   background-color: rgb(0, 0, 88);

 

 }
ul{

 
 width: 100%;
 
 
 top: 0px;
 width: 100%;
     
 list-style-type: none;
  margin: 0px;
   padding: 0px;
          background-color: rgb(0, 0, 60);


   margin-left: -20px;
 height: 50px;
}
li{

 
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    float:right ;
    text-align: center;
    margin-left: 30px;
   


}



 .li1{

 margin-right: 40%;
 


 }

li a{


 text-decoration: none;
 display: block;
 font-size:20px;
 color: whitesmoke;
 
 height: 30px;
 padding: 10px;
}

li:hover{

    background-color: rgb(255, 0, 0);




}

h1{

 color: red;
 text-align: right;
 margin-top: 80px;
 margin-right: 30px;

}
.pp{

 font-size: 25px;
 text-align: right;
 margin-right: 50px;
 color: whitesmoke;

}

.form-sabt-nam{

 width: 300px;
 height: 400px;
          background-color: rgb(0, 0, 60);
          margin-left: 40%;
          margin-top: 100px;
          border: solid 2px red;
          border-radius: 20px;
          box-shadow: 5px 8px 10px black;
 


}

.pa{


 text-align: right;
 color: whitesmoke;
 font-size: 20px;
 margin-right: 10px;
}

input{

 width: 250px;
 margin-left: 25px;
 height: 25px;

}

input:focus{

 border: red solid 1px;
 
 box-shadow: 2px 4px 9px black;

}

.button1{

 width: 250px;
 height: 25px;
 margin-left: 25px;

}
.as{

 text-decoration: none;
 font-size: 15px;

}
#sapt-nam{

 width: 200px;
 background-color: red;
 margin-left: 50px;
 margin-top: 50px;
 box-shadow: black 4px 8px 10px;
 height: 25px;

}


  @media (max-width: 575.98px) {

 
 
  body{
 width: 100%;

  }
   ul{


   width: 100%;
   height: 5%;

   }



   li{

   font-size: 0.5rem;
   padding: 0px;

   }


    li a{

    padding: -10px;
    font-size: 1rem;
    margin-top: 1%;

    }

   .li1{

   margin-right: 0%;

   }


 h1{


 font-size: 1.3rem;

 }
 .pp{


 font-size: 1rem;

 }



 .form-sabt-nam{


 margin-left: 10%;



 }



  }
