 
 body{

   background-color: rgb(0, 0, 88);

 

 }
ul{

 
 width: 100%;
 
 
 top: 0px;
 width: 100%;
     
 list-style-type: none;
  margin: 0px;
   padding: 0px;
          background-color: rgb(0, 0, 60);


   margin-left: -20px;
 height: 50px;
}
li{

 
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    float:right ;
    text-align: center;
    margin-left: 30px;
   


}



 .li1{

 margin-right: 40%;
 


 }

li a{


 text-decoration: none;
 display: block;
 font-size:20px;
 color: whitesmoke;
 
 height: 30px;
 padding: 10px;
}

li:hover{

    background-color: rgb(255, 0, 0);




}

h1{

 color: red;
 text-align: right;
 margin-top: 80px;
 margin-right: 30px;

}
.pp{

 font-size: 25px;
 text-align: right;
 margin-right: 50px;
 color: whitesmoke;

}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 15px;
  padding: 5px;
  color:white;
  text-align: right;
  margin-top: 5px;
}

.field input {
  display: block;
  min-width: 300px;
  line-height: 1.5;
  font-size: 14px;
  margin-left: 40px;
  margin-top: 12px;
}
#form{

 width: 400px;
 height: 300px;
    background-color: rgb(0, 0, 60);

 border-radius: 3px;
 box-shadow: 3px 4px 6px black;
 margin-left: 35%;
 margin-top: 10%;
 margin-bottom: 5%;

}
input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none;
  margin-top: 90px;
  margin-top: 50px;
  margin-left: 150px;
}



  @media (max-width: 575.98px) {

 .field input{

 margin-left: 6%;
 

 }


  #form{

 width: 80%;
 margin-left: 5%;


  }
 
  body{
 width: 100%;

  }
   ul{


   width: 100%;
   height: 5%;

   }



   li{

   font-size: 0.5rem;
   padding: 0px;

   }


    li a{

    padding: -10px;
    font-size: 1rem;
    margin-top: 1%;

    }

   .li1{

   margin-right: 0%;

   }


 h1{


 font-size: 1.3rem;

 }
 .pp{


 font-size: 1rem;

 }



#form{


 margin-left: 10%;



 }



  }
