 
 body{

  background-color: rgb(0, 0, 88);

 

 }
ul{

 
 width: 100%;
 
 
 top: 0px;
 width: 100%;
     
 list-style-type: none;
  margin: 0px;
   padding: 0px;
          background-color: rgb(0, 0, 60);


   margin-left: -20px;
 height: 50px;
}
li{

 
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    float:right ;
    text-align: center;
    margin-left: 30px;
   


}



 .li1{

 margin-right: 40%;
 


 }

li a{


 text-decoration: none;
 display: block;
 font-size:20px;
 color: whitesmoke;
 
 height: 30px;
 padding: 10px;
}

li:hover{


                   background-color: rgb(255, 0, 0);




}

.img-logo{

 width: 1000px;
 height: 600px;
 margin-left: 33%;
 margin-top: -15px;

}

h1{

 margin-left:35%;
 margin-top: -320px;
 font-size: 43px;
}

mark{

 border-radius: 10px;
 width: 300px;
            background-color: rgb(0, 0, 60);





 
 color:whitesmoke;


}

button{

 width: 140px;
 height: 35px;
                  background-color: rgb(0, 0, 60);







 margin-left: 65%;
 margin-top: 100px;
 box-shadow: 3px 4px 8px whitesmoke;

}
button:hover{


 box-shadow: 6px 8px 10px whitesmoke;

}
#sapt{

 text-decoration: none;
 color: whitesmoke;
 font-size: 25px
}

.p1{

 font-size: 20px;


}

.p1pp{

 font-size: 20px;
 direction: rtl;
 text-align: justify;
 text-justify: inter-word;
 line-height: 1.9;
 margin-left: -60px;
 margin-right: 20px;
 margin-top: 200px;
 color: whitesmoke;
 width: 400px;
 margin-left: 50px;
 

}

.box-tozih{

 width: 480px;
 height: 300px;
 background-color: rgb(0, 0, 60);







 margin-top: -393px;
 margin-left: 20px
 
}
.img33{

 width: 466px;
 height: 300px;
 margin-top: -490px;
 margin-left: 30px;

}

.gallery-box{


 margin-left: 70px;

}

.gallery-box3{


 margin-left: 70px;

}
.images12{
width: 350px;
height: 400px;

    justify-content: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: 5px 8px 10px  rgb(0, 0, 43) ;

 
}
.images13{
width: 350px;
height: 400px;

    justify-content: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: 5px 8px 10px  rgb(0, 0, 43) ;

 
}

.images122{
width: 350px;
height: 400px;

    justify-content: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: 5px 8px 10px  rgb(0, 0, 43) ;

 
}
.images133{
width: 350px;
height: 400px;

    justify-content: center;
    object-fit: cover;
    background-size: cover;
    margin-top: 130px;
    margin-left: 70px;
    border-radius: 20px;
    box-shadow: 5px 8px 10px  rgb(0, 0, 43) ;

 
}
.h11{

 margin-top: -350px;
 margin-left: 45%;
 color: rgb(255, 0, 0);
 

 

}

.h111{

 margin-top: -350px;
 margin-left: 25%;
 color: rgb(255, 0, 0);
 

 

}
.pre2{


 font-size: 25px;
 width: 800px;
 color: aliceblue;
 margin-left: 400px;
  line-height: 1.5;
 direction: rtl;
 text-align: justify;
 text-justify: inter-word;

}

.pre22{


 
 font-size: 25px;
 width: 800px;
 color: aliceblue;
 margin-left:70px;
  line-height: 1.5;
 direction: rtl;
 text-align: justify;
 text-justify: inter-word
}

.div3{

 

 width: 1250px;
 height: 400px;           
      background-color: rgb(0, 0, 60);
 



 border: solid 2px red;
 border-radius: 20px;
 margin-left: 8%;
 box-shadow: 5px 6px 9px black;
 margin-top: 100px;
}
.img23{

 width: 350px;
 height: 400px;
 border-radius: 20px 0px 0px 20px;


}

.img24{

 width: 350px;
 height: 400px;
 border-radius: 0px 20px 20px 0px;
 margin-left: 72%;


}
.img-flash-card{


 width: 300px;
 height: 400px;
 margin-top: 100px;
 margin-left: 900px;
 border-radius: 10px;
 box-shadow: 4px 6px 9px black;

}
.mark24{

 background-color: red;
 color: whitesmoke;

}

.sharayet-sabt-nam{


    width: 800px;
                   background-color: rgb(0, 0, 60);






 height: 600px;
}

table{

 width: 700px;
 height: 450px;
                      background-color: rgb(0, 0, 60);





 border: solid 2px red;
  border-radius: 20px;
 margin-left: 27%;
 margin-top: 50px;
 box-shadow: 5px 7px 10px black;
 

}

td{

 text-align: right;
 font-size: 20px;
 color: whitesmoke;
 padding-right: 10px;
 

}

.hh2{


 color: rgb(255, 0, 0);
 font-size: 30px;
 text-align: center;
 margin-top: 120px;

}

.mnb{
          background-color: rgb(0, 0, 60);


   


 color: red;

}

.bbnn{


 width: 140px;
 height: 35px;
  margin-top: 5px;

 
 
 


}

.button2{

 background-color: rgb(255, 0, 0);
 width: 180px;
 border-radius: 10px;
 box-shadow: 4px 7px 10px black;
 margin-left: 680px;
 margin-top: 50px;

}

#aa22{

 text-decoration: none;
 color: rgb(255, 255, 255);
 font-size: 20px;

}
.button2:hover{

 box-shadow: 6px 9px 12px black;
 transform: scale(1.1);
 transition: transform ease-in;

}

.hh23{


    margin-top: 10px;
     color: rgb(255, 0, 0);
     font-size: 38px;
     
    
}

.ppp{

 text-align: right;
 margin-right: 20px;
 font-size: 25px;
 color: whitesmoke;
 margin-top: 50px;

}

.divv{
 background-color: rgb(0, 0, 60);
 border: solid 2px red;






 width: 700px;
 height: 300px;
 margin-left: 27%;
 margin-top: 50px;
 border-radius: 20px;
 box-shadow: 4px 8px 11px black;


}

footer{

 width: 100%;
 height: 400px;
           background-color: rgb(0, 0, 60);




 margin-top: 180px;

}
.hh22h{

 text-align: right;
 color: red;
 margin-right: 20px;
 padding-top: 20px;

}



.adres{

 color: whitesmoke;
  font-size: 30px;
  text-align: right;
  margin-right: 20px;
  margin-top: -300px;


}

.kj{

 color: whitesmoke;
 padding: -30px;

}

.ml{

 color: white;
 text-align: right;
 font-size: 23px;
 margin-right: 20px;

}

.fa-solid{


 margin-left: 250px;
 margin-top: 40px;
 font-size: 20px;

}

.fa-brands{


 margin-left: 250px;
 margin-top: 40px;
 font-size: 20px;

}


  .img-nemune-kar1{

 width:300px;
 height: 600px;
 border-radius: 20px;
 margin-top: 100px;
 margin-left: 90px;
 box-shadow: 5px 8px 9px black;
 
 



  }


  .img-nemune-kar2{
 width:300px;
 height: 600px;
 border-radius: 20px;
 margin-top: 100px;
 margin-left: 30px;
 box-shadow: 5px 8px 9px black;
 
 



  }


  .img-nemune-kar3{
 width:300px;
 height: 600px;
 border-radius: 20px;
 margin-top: 100px;
 
 margin-left: 30px;
 box-shadow: 5px 8px 9px black;
 



  }


  .img-nemune-kar4{
 width:300px;
 height: 600px;
 border-radius: 20px;
 margin-top: 100px;
 margin-left: 30px;
 box-shadow: 5px 8px 9px black;
 



  }

  .bbb1{


  color: red;
  margin-top: 200px;
  margin-left: 38%;
  



  }
   .aasd{

 font-size: 20px ;
 color:aliceblue;
  text-decoration: none;

 }


  @media (max-width: 575.98px) {

  body{
 width: 100%;

  }
   ul{


   width: 100%;
   height: 5%;

   }



   li{

   font-size: 0.5rem;
   padding: 0px;

   }


    li a{

    padding: -10px;
    font-size: 1rem;
    margin-top: 1%;

    }

   .li1{

   margin-right: 0%;

   }
   .box-tozih{

   margin-top: -33%;
   font-size: 0.7rem;
   width: 100%;
   margin-left: 0%;
   


   }


 .p1pp{


 font-size: 1.1rem;
 margin-left: 2%;
 width: 90%;

 }

  .img33{

  margin-top: 60%;
  width: 100%;
  margin-left: 0%;
  margin-bottom: -10%;

  } 
  

  .img-logo{


 width: 100%;
  margin-left: 0%;
  
    justify-content: center;
    object-fit: cover;
    background-size: cover;

  }


  h1{

 margin-left: 20%;
 margin-top: -100%;
 font-size: 1.7rem;

  }  


  button{

     margin-left: 60%;
     box-shadow: 3px 4px 7px black;
  }

  .images12{

   width: 45%;
   height: 25%;
   margin-left: 2%;
  }

  .images13{

   width: 45%;
   height: 25%;
   margin-left: 2%;
  }


  .images122{

   width: 45%;
   height: 25%;
   margin-left: 28%;
   margin-top: 7%;
  }

  .images133{

   width: 45%;
   height: 25%;
   margin-left: 28%;
   margin-top: 7%;
  }


 .gallery-box{

 margin-left: 1%;


 }



 .gallery-box3{

 margin-left: 1%;
 margin-top: 460%;

 }

 .div3{

 width: 90%;
 margin-left: 3%;
 height: 60%;

 }
  .img23{





 width: 100%;
 height: 30%;
 
    justify-content: center;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;


  }

  .img24{




 width: 100%;
 height: 30%;
 
    justify-content: center;
    object-fit: cover;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
 margin-left: 0%



  }
   .h11{

   font-size: 1.5rem;
   margin-top: 4%;
   margin-left: 5%;

   }



 .pre2{


 font-size: 1rem;
 width: 85%;
 color: aliceblue;
 margin-left: 5%;
  line-height: 1.8;
 direction: rtl;
 text-align: justify;
 text-justify: inter-word
  
 } 


 .pre22{


 font-size: 1rem;
 width: 85%;
 color: aliceblue;
 margin-left: 5%;
  line-height: 1.8;
 direction: rtl;
 text-align: justify;
 text-justify: inter-word
  
 } 


 .h111{



  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 8%;

 }

.karhayeh-nemuneh{


 width: 90%;
 height: 60%;
 margin-left: 5%;

 display: flex;
 flex-wrap: wrap;

}

.img-nemune-kar1{


 width: 98%;
  height: 100%;
  margin-left: 1%;
  margin-top: 10%;

}

.img-nemune-kar2{

 width: 98%;
  height: 100%;
  margin-left: 1%;
}
.img-nemune-kar3{



 width: 98%;
  height: 100%;
  margin-left: 1%;


}

.bbb1{


 font-size: 1.6rem;
 margin-left: 20%;

}

 .img-nemune-kar4{


 width: 98%;
  height: 100%;
  margin-left: 1%;margin-bottom: 30%;


 }


 .hh2{

 font-size: 1.67rem;
 margin-top: 30%;
 


 }
 

 .hh23{



 font-size: 2rem;
 margin-right: 2%;

 }

 


table{

 width: 90%;
 height: 40%;
 margin-left: 5%;



}

td{
 
 font-size: 1rem;
 padding-right: 0%;



}


 .button2{

 margin-left: 40%;

 }
 .divv{

 width: 90%;

 height: 42%;
 margin-left: 5%;

 }
.hh23{

 font-size: 2rem;

}

.ppp{


 font-size: 1rem;

}

.fa-solid{

 margin-top: -20%;
 margin-left: 1%;
 font-size: 1rem;
 

}
.fa-brands{

 margin-top: -50%;
 margin-left: 5%;
 


}

.adres{


 font-size: 1.2rem;

}

.ml{

 font-size: 1rem;

}
 .aasd{

 font-size: 0.7rem ;
 color:aliceblue;
  text-decoration: none;

 }

}
